/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* Tags daqui em diante estão em ordem ALFABÉTICA */
#artigo 
{
    background-color: white;
    width: 816px;
    margin: auto;
    margin-left: -4px;
    margin-bottom: 0;
    border: 1px solid #ed8f00;
    border-radius: 5px;
    padding: 28px 21px;
}

#autor
{
    font-family: Tahoma;
    font-size: 13px;
    color: #ed8f00;
    margin-left: -8px;
}

#barraLateral 
{
    background-image: url('../imgs/bgData.png');
    width: 70px;
    height: 86px;
    margin-top: 24px;
    text-align: center;
}

body
{
    background-color: #f1eeea;
}

#comentario 
{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 13px;
    color: #d0630e;
    margin-top: 30px;
}

.container div
{
    display: inline-block;
    vertical-align:top;
}

.conteudoComentario 
{
    margin-top: 39px;
    margin-left: -96px;
    margin-right: 0;
    width: 600px;
    font-family: Tahoma;
    font-size: 13px;
    color: #79573f;
    line-height: 17px;
}

#dados 
{
    margin-top: 9px;
}

#data 
{
    height: 70px;
    text-align: center;
}

#data p 
{
    font-family: SansaSoft-SemiBold;
    color: white;
}

.display img 
{
    margin: 17px 17px 20px 20px;
}

#email 
{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 13px;
    color: #d0630e;
}

#enviarComentario
{
        margin-top: 49px;
}

#faixaBarraDeRolagem 
{
    background-image: url('../imgs/barraDeRolagem.png');
    background-repeat: no-repeat;
    height: 291px;
    width: 22px;
    margin-left: 71px;
    margin-top: 20px;
}

#footer
{
    margin-top: 61px;
    background-color: #d0630e;
    width: auto;
    height: 56px;
}

#footerItelios
{
    width: 1020px;
    margin: 0 auto;
    margin-top: 28px;
}

#footerItelios img
{
    margin-top: 21px;
    margin-left: 3px;
}

@font-face {
    font-family: SansaSoft-SemiBold;
    src: url('../fonts/SansaSoft-SemiBold.otf');
}

@font-face {
    font-family: SansaSoft-Light;
    src: url('../fonts/SansaSoft-Light.otf');
}

h2 
{
    font-family: SansaSoft-SemiBold;
    font-size: 26px;
    color: #e75012;
}

#header 
{
    margin: 0;
    background-color: #d0630e;
    height: 52px;
    width: 813px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#headerConteudo
{
    margin-top: 74px;
    margin-bottom: 29px;
    color: #e75012;
    font-family: Romana;
    font-size:60px;
}

hr { 

    display: normal;
    margin: 0;
    border-color: #ddd;
    margin-top: -2px;
    margin-left: 15px;
    border-style: solid;
    border-width: 1px;
}

input[type='submit']
{
    height: 42px;
    background-image: url('../imgs/bgButtons.png');
    border: 0;
    border-radius: 5px;
    float: right;
    margin-right: 6px;
    margin-left: 3px;
    margin-top: 24px;
    padding: 0 17px;

    font-family: SansaSoft-SemiBold;
    font-family: SansaSoft-Light;
    font-size: 11px;
    color: white;
    letter-spacing: 1px;
}

input[type='submit']:hover
{
    height: 42px;
    background-image: url('../imgs/bgButtonsInvert.png');
    border: 0;
    border-radius: 5px;
    float: right;
    margin-right: 6px;
    margin-left: 3px;
    margin-top: 24px;
    padding: 0 17px;

    font-family: SansaSoft-SemiBold;
    font-family: SansaSoft-Light;
    font-size: 11px;
    color: white;
    letter-spacing: 1px;
}

.nome 
{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 13px;
    color: #d0630e;
    margin-top: 19px;
    margin-left: -4px;
    margin-bottom: 20px;
    line-height: 17px;
}

#nomeComentario 
{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 13px;
    color: #d0630e;
}

#postadoPor 
{
    font-family: Tahoma;
    font-size: 13px;
    color: #cab09f;
}

.redesSociais
{
    height: 71px;
    width: 70px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: white;
    padding-top: 8px;
}

#sessaoComentarios
{
    width: 813px;
    margin: 0;
    margin-top: 28px;
    margin-left: 2px;
    border: 1px solid #ed8f00;
    border-radius: 6px;
}

#sessaoComentarios h3
{
    font-size: 20px; 
    margin-top: 16px;
    margin-left: 22px;
    font-family: SansaSoft-SemiBold;
    color: white;

}

#txtComentario 
{
    width: 813px;
    height: 110px;
    border: 1px solid #ed8f00;
    border-radius: 5px; 
    margin-top: 5px;

}

#txtEmail 
{
    width: 500px;
    height: 31px;
    border: 1px solid #ed8f00;
    border-radius: 5px; 
    margin-top: 5px;
}

#texto 
{
    margin-top: 14px;   
}

#texto p
{
    font-family: Tahoma;
    font-size: 13px;
    color: #79573f;
    margin-bottom: 20px;
    line-height: 17px;
}

#txtNome
{
    width: 295px;
    height: 31px;
    border: 1px solid #ed8f00;
    border-radius: 5px; 
    margin-top: 5px;
}

#wrapper 
{
width: 1020px;
margin: auto;
}